@using System.Reflection
@using SharedComponents.Pages
<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="@assemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {

    private IEnumerable<Assembly> assemblies = new Assembly[]
    {
        typeof(CuttingParameters).Assembly,
    };
}