@page "/{ComponentMode?}"

@using IhtApcWebServer.Features.HeightControlFeature.Services.CNC
@using MQTTnet.Protocol
@using SharedComponents.Helpers
@using SharedComponents.IhtDev
@using SharedComponents.IhtModbus
@using SharedComponents.MqttModel
@using IhtApcWebServer.Services.APCCommunic
@using IhtApcWebServer.Services.APCWorkerService;
@using SharedComponents.Models.APCHardware
@using SharedComponents.Services.APCHardwareManagers
@using SharedComponents.Services.APCHardwareMockDBServices
@using SharedComponents.IhtData
@using MudBlazor.Examples.Data.Models
@using System.Globalization
@using System.IO.Ports				  

@inject NavigationManager navigationManager
@inject HttpClient httpClient
@inject IhtDevices ihtDevices
@inject MqttModelFactory mqttModelFactory 
@inject DataCommon dataCommon
@inject DynDataModificationCNCDataProvider dynDataModificationCNCDataProvider
@inject IParameterDataInfoManager parameterDataInfoManager
@inject IAPCSimulationDataMockDBService apcSimulationDataMockDBService
@inject APCCommunicManager apcCommunicManager
@inject IhtModbusCommunic ihtModbusCommunic
@inject APCWorkerBackgroundService _apcWorkerBackgroundService
@inherits IhtComponentBase
@implements IDisposable

<style>
.device_tabcell {
    width: 83px;
    height:55px;
    text-align: center;
    border: 1px solid #fff;

    /*border: 1px solid #fff !important;*/

    border-left-color: white !important; 
    border-left-style: solid !important; 
    border-left-width: 2px !important; 

    border-right-color: #fff !important;
    border-right-style: solid !important;
    border-right-width: 2px !important;
}

.device_lastcell {
    width: 88px;
    height:55px;
    text-align: center;
    font-weight:bold;
    background: #d7e8f9;
    border-left-width: 2px;
    border-left-color: white;

    border-left-color: #fff !important;
    border-left-style: solid !important;
    border-left-width: 2px !important;
}

.button_tabcell {
    width: 88px;
    height:50px;
    text-align: center;
}

.tabcell {
    width: 83px;
    height: 50px;
    text-align: center;
    border-left-color: white !important;
    border-left-style: solid !important;
    border-left-width: 2px !important;
    border-right-color: #fff !important;
    /*border-right-style: solid !important;
    border-right-width: 2px !important;*/
    overflow-wrap: break-word;
    max-width: 85px;
    /*box-sizing: content-box;*/
}

.tabcell_menu {
    font-weight:bold;
    background: #d7e8f9;
    border-bottom-width: 3px !important;
    border-bottom-color: white !important;
    border-top-width: 3px !important;
    border-top-color: white !important;
    border-left-color: #fff !important;
    border-left-style: solid !important;
    border-left-width: 2px !important;
}
.active {
        box-shadow: 0px 0px 0px #0065c8;
        background-color: #FF584F;
}

.flame_active{
    box-shadow: 0px 0px 0px #0065c8;
    background-color: #8985E0;
}

.tabcell_status {
    background: #d7e8f9;
    max-width: 250px;
}

.divcell {
    width: 87px;
    height: 63px;
    text-align: center;
}

table#controlPanel td  {
    /*border: 0px solid #e0e0e0;*/
}

.SelectedParamsType {
    background-color:aquamarine;
}

.UnselectedParamsType {
    background-color:#e1f0fd;
}

.FlameIsOff {
    background-color:#3D6FB4;
}

.FlameIsOn {
    background-color:#FF584F;
}

.SelectedDeviceNum {
    background-color:#497abf;
    color: #ffff;
    /*border: 1px !important;*/
}

.ConnectedDeviceNum {
    background-color:#e1f0fd;
    color: #999191;
    /*border: 0px !important;*/
}

.ErrorConnectionDevice {
    background-color:#d56565;
    box-shadow: inset 150px 150px 0px 0px #e5d7d7bf;
    color: #eaeaeb !important;
    border: 0px !important;
}

.DisabledDeviceNum {
    /*background-color:#a1a1a1;*/
    background-color:lightgrey;
    color: #ffff;
    /*border: 0px !important;*/
}

.DisabledDeviceSelected {
    border: 2px solid #0057ab63 !important;
    background-color: #d3d3d3;
    color: #ffff;
}

.NotInUseDeviceNum {
    background-color:#ffff;
    color: #ffff;
    border: 0px !important;
}

.flex-container {
  display: flex;
  flex-direction: row;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.scaled {
  zoom: 0.87;
  -moz-transform: scale(0.87);
}

.flex-item-left {
  float:left;
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}

.internal_div_table{
    width:250px; 
    /*height:197px;*/
}

.flex-container table{
    border-spacing: 0px;
}

button .mud-nav-link-text {
    font-size: medium;
    font-weight: 550 !important;
}

.tablemobile
{
    margin-left: auto;
    margin-right: auto;
}

.mud-dialog-container.mud-dialog-center
{
    top: -65px;
}

.mud-dialog .mud-dialog-content {
    padding: 3px 4px !important;
}

/*.mud-list.mud-list-padding {
     padding-top: 0px; 
    padding-bottom: 0px; 
}*/

/*.mud-popover.mud-popover-relative-width {
    width: unset;
}*/

div222[id^="popovercontent-"]{

    left: 220px !important;
    /* transform: translate(-50%, -50%); */
    transition-duration: 251ms !important;
    transition-delay: 0ms !important;
    max-height: 300px !important;
    max-width: 223.132px !important;
    /*top: 80.3879px !important;*/
    z-index: 1403 !important;
    position: relative !important;
}

.password-dialog {
    background-color:aliceblue; 
    font-weight:bold;
    cursor: default;
    text-align: center;
    width:33%;
}

th.password-dialog:hover {
  background-color: lightgrey;
}

input#password-input {
  font-size: 25px;
  border: none;
  background: transparent;
  width: 100px;
  text-indent: 9px;
  letter-spacing: 5px;
}

input#password-input:focus {
  outline: none;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/*.mud-paper.mud-elevation-1 {
        color: var(--mud-palette-text-primary);
        background-color: transparent; 
        border-radius: var(--mud-default-borderradius);
        transition: box-shadow 300ms cubic-bezier(.4,0,.2,1) 0ms;
}*/
</style>

<style>
    .mud-table-cell-custom-group {
        font-weight: 500;
    }

    .mud-table-cell-custom-group-footer {
        /*padding-bottom: 50px;*/
        text-align: right;
    }

    .mud-input-control.mud-select.myselect>.mud-input-control-input-container>div.mud-input.mud-input-text {
    margin-top: 0px; 
    }

    .mud-dialog .mud-dialog-title  {
        padding: 16px 24px 0px;
    }

    .mud-dialog.mud-dialog-width-sm {
        position: relative !important; 
        top: 75px !important;
    }

    .mud-table-cell  {
        font-size: 1rem;
        padding: 9px;
        /*border-bottom: 0px solid*/
        border: 0px
    }

    .my-install-toarch .mud-table-cell {
        padding: 3px;
    }

    .my-install-toarch .mud-dialog-title {
        display: none;
    }

    .my-install-toarch .mud-grid-spacing-xs-3>.mud-grid-item {
        padding: 4px;
    }

    .my-install-toarch .mud-dialog-actions {
        padding: 0px;
    }

    .my-install-toarch .mud-icon-button {
        padding: 10px;
    }

    .my-install-toarch .mud-grid-spacing-xs-3 {
        width: calc(100% + 0px); 
        margin: 0px;
    }

    .my-install-toarch .mud-input>input.mud-input-root, div.mud-input-slot.mud-input-root {
        padding: 6px 0 3px; 
    }

    .mud-slider.mud-slider-small.mud-slider {
        margin-left: 0px !important;
        padding-right: 0px !important;
    }

    .img_plus1 {
        mix-blend-mode: normal; width: 25px; height: 20px; vertical-align: bottom; margin-left: 10px;
    }

    .img_minus1 {
        mix-blend-mode: normal; width: 30px; height: 16px; vertical-align: bottom;
    }

    .td_plus1 {
        color:#2196f3ff; width: 35px; padding-left: 0px; padding-bottom: 8px; vertical-align: bottom;
    }

    .td_minus1 {
        color:#2196f3ff; padding-bottom: 8px; padding-left: 0px; padding-right: 7px; width: 10px; vertical-align: bottom;
    }

    .mud-popover.mud-popover-open.mud-popover-top-center.mud-popover-anchor-top-center.mud-popover-overflow-flip-onopen.mud-popover-relative-width.mud-paper.mud-elevation-8.overflow-y-auto
    {
        position: fixed;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
    }

    .mud-progress-circular.mud-progress-indeterminate {
        animation: none;
    }

    .mud-table-sticky-header .mud-table-container {
        overflow-x: clip !important;
    }

    .mud-table-container {
        width: 100%;
        overflow-y: clip !important;
    }
</style>

@if (dynDataModificationCNCDataProvider != null)
{
    paramHeatO2 = dynDataModificationCNCDataProvider._paramHeatO2;
    paramFuelGas = dynDataModificationCNCDataProvider._paramFuelGas;

    if(dynDataModificationCNCDataProvider.CurrentParamsType == IGNITION)
    {
        paramFlameAdjust = dynDataModificationCNCDataProvider._paramFlameAdjust;
        _cutO2Visible = NONE_DISPLAY_CLASS;
        _flameAdjustVisible = VISIBLE_CLASS;
    }
    else if(dynDataModificationCNCDataProvider.CurrentParamsType != PRE_HEAT 
            && dynDataModificationCNCDataProvider.CurrentParamsType != HEATTING)
    {
        paramCutO2 = dynDataModificationCNCDataProvider._paramCutO2;
        _flameAdjustVisible = NONE_DISPLAY_CLASS;
        _cutO2Visible = VISIBLE_CLASS;
    }
    else
    {
        _flameAdjustVisible = NONE_DISPLAY_CLASS;
        _cutO2Visible = INVISIBLE_CLASS;
    }
<MudDialog @bind-IsVisible="_editParamDialogVisible" Style="width: 500px;" Class="scaled">
    <TitleContent>
        <MudText Typo="Typo.h6"></MudText>
    </TitleContent>
    <DialogContent>
        <MudForm Model="@dynParamDataModel" @ref="_editParamForm">

            @*<MudTextField @bind-Value="@dynParamDataModel.Sign" Label="Sign" 
                For=@(() => dynParamDataModel.Sign) Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>*@

            <MudSlider @onchange="@( () => ParameterValueChanged() )" @bind-Value="@dynParamDataModel.DynParams.Value" 
                Min="@dynParamDataModel.DynParams.ConstParams.Min" Max="@dynParamDataModel.DynParams.ConstParams.Max" 
                Step="@dynParamDataModel.DynParams.ConstParams.Step" 
                Color="Color.Info">@(dynParamDataModel.ParamSettings?.DisplayName ?? ""): @dynParamDataModel.DynParams.Value.ToString()
            </MudSlider>            
        </MudForm>      
    </DialogContent>
    <DialogActions>
        <MudButton Color="MudBlazor.Color.Secondary" 
            OnClick="CloseEditParamDialog" onmousedown="return false">
            Close
        </MudButton>
        @*<MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" 
            OnClick="CreateParamsAsync">
            Save
        </MudButton>*@
    </DialogActions>
</MudDialog>

<MudDialog @bind-IsVisible="_setupPasswordDialogVisible" Style="width:280px" Class="scaled">
    <TitleContent>
        <MudTh Style="text-align:left;border-bottom:0px">
            <MudButton Color="MudBlazor.Color.Primary" OnClick="@(() => ResetPassword())">Reset to Level 0</MudButton>
        </MudTh>
    </TitleContent>
    <DialogContent>
        <table class="center-mud-text" style="table-layout: fixed; width: 100%;">
            <tr>
                <td style="border: 0px solid white;" colspan="2">
                    <input type="password" id="password-input" minlength="4" maxlength="4" size="4" 
                    @bind-value="_setupPasswordValue" style="border: 0px solid; width:50%" readonly="readonly"/>
                </td>
                <MudTh Class="password-dialog" @onclick="@(()=>GetEditPassword("x"))">&#8592;</MudTh>
            </tr>
            <tr>
                <MudTh Class="password-dialog" @onclick="@(()=>GetEditPassword("7"))">7</MudTh>
                <MudTh Class="password-dialog" @onclick="@(()=>GetEditPassword("8"))">8</MudTh>
                <MudTh Class="password-dialog" @onclick="@(()=>GetEditPassword("9"))">9</MudTh>
            </tr>
            <tr>
                <MudTh Class="password-dialog" @onclick="@(()=>GetEditPassword("4"))">4</MudTh>
                <MudTh Class="password-dialog" @onclick="@(()=>GetEditPassword("5"))">5</MudTh>
                <MudTh Class="password-dialog" @onclick="@(()=>GetEditPassword("6"))">6</MudTh>
            </tr>
            <tr>
                <MudTh Class="password-dialog" @onclick="@(()=>GetEditPassword("1"))">1</MudTh>
                <MudTh Class="password-dialog" @onclick="@(()=>GetEditPassword("2"))">2</MudTh>
                <MudTh Class="password-dialog" @onclick="@(()=>GetEditPassword("3"))">3</MudTh>
            </tr>
            <tr>
                <MudTh Class="password-dialog" @onclick="@(()=>GetEditPassword("0"))">0</MudTh>
                <MudTh Class="password-dialog" Style="padding: 0px;">&nbsp;</MudTh>
                <MudTh Class="password-dialog" Style="padding: 0px;">
                    <MudButton Color="MudBlazor.Color.Secondary" OnClick="@(()=>ClosePasswordSetupDialog())">Close</MudButton>
                </MudTh>
            </tr>
        </table>
    </DialogContent>
</MudDialog>

<MudDialog @bind-IsVisible="_setupParamsDialogVisible" Style="min-width: 500px; max-height: 500px; overflow-y: hidden; zoom: 0.75; top: 90px !important">
    <DialogContent>
    <MudButton OnClick="CloseSetupParamsDialog">&#8592; Go Back</MudButton>
    <MudTable Hover="true" Breakpoint="Breakpoint.Sm" Style="min-height: 440px; max-height: 400px; overflow-y: scroll;" FixedHeader="true"
          Items="@Elements"
          GroupBy="@_groupDefinition"
          GroupHeaderStyle="background-color:var(--mud-palette-background-grey)"
          GroupFooterClass="mb-4"
          Dense="false"
          ReadOnly="false" OnRowClick="RowClickEvent" T="ParameterDataModel">
    <ColGroup>
        <col style="width: 60px;" />
        <col />
        <col />
        <col />
        <col />
        <col />
    </ColGroup>
    <HeaderContent>
        @*<MudTh Style="font-weight:bold;">Nr</MudTh>*@
        @*<MudTh>Sign</MudTh>*@
        <MudTh Style="font-weight:bold;">Parameter</MudTh>
        <MudTh Style="font-weight:bold;width:35%">Value</MudTh>
        @*<MudTh>Molar mass</MudTh>*@
    </HeaderContent>
    <GroupHeaderTemplate>
        <MudTh Class="mud-table-cell-custom-group" colspan="5">@LocalStrByEnStr($"{context.Key}")</MudTh>
    </GroupHeaderTemplate>
    <RowTemplate>
        <MudTd DataLabel="Name">@(!string.IsNullOrWhiteSpace(context.ParamSettings?.DisplayName) 
            ? @LocalStrByEnStr(context?.ParamSettings?.DisplayName ?? "") : @LocalStrByEnStr(context.ParamSettings?.ViewParameter.Name ?? "") ?? "")</MudTd>
        <MudTd DataLabel="Value" >
            @if(@context?.ParamSettings?.ViewParameter?.Mode == "Switch")
            {
                <MudSwitch Disabled="@( context?.ParamSettings?.ReadOnly ?? false )" 
                T="bool" @bind-Checked="@this[@context?.ParamSettings?.SettingParam ?? 0]" Color="Color.Primary">
                    @( @context.DynParams.Value == 1 ? 
                    @LocalStrByEnStr(@context?.ParamSettings?.ViewParameter?.Values[1] ?? "") : 
                    @LocalStrByEnStr(@context?.ParamSettings?.ViewParameter?.Values[0] ?? "") )
                </MudSwitch>
            }
            else if(@context?.ParamSettings?.ViewParameter?.Mode == "Select" || 
                    @context?.ParamSettings?.ViewParameter?.Mode == "NoYes"){

                        @LocalStrByEnStr(@context?.ParamSettings?.ViewParameter?.Values[@context?.DynParams?.Value ?? 0] ?? "");

            }
            else if(@context?.ParamSettings?.ViewParameter?.Mode == "Button"){
                <MudButton Disabled="@( context?.ParamSettings?.ReadOnly ?? false )" 
                    OnClick="@( () => ClickedParamButton(@context?.ParamSettings?.SettingParam ?? 0))" Variant="Variant.Filled" Color="Color.Primary">
                    <MudText>@LocalStrByEnStr(@context?.ParamSettings?.ViewParameter?.Values[0] ?? "")</MudText>
                </MudButton>
                        //@context?.ParamSettings?.ViewParameter?.Values[@context?.DynParams?.Value ?? 0]
            }
            @*else if(@context.DynParams?.ParameterDataInfo?.ViewParameter?.Mode == "Select")
            { int i = 0; 
            <MudSelect T="int" @bind-Value="@context.DynParams.Value" Class="myselect" Style="margin-top: 0px;">
                @foreach (var paramText in @context.DynParams?.ParameterDataInfo?.ViewParameter?.Values)
                {
                    <MudSelectItem T="int" Value="@i">@paramText</MudSelectItem>

                    i = i + 1;
                }
            </MudSelect> 
            }*@
            @*else if(@context.Number == 18){
                @context.Sign;
            }*@
            else {
                @*<MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                <MudOverlay Visible="@( context?.ParamSettings?.ReadOnly ?? false )" LightBackground="true" Absolute="true" />*@
                <table>
                    <tr>
                        <td>
                            <font style="@( context?.ParamSettings?.ReadOnly ?? false ? "opacity:0.5" : "opacity:1" )">@context.DynParams.Value</font>
                        </td>
                        <td>
                            @if(@context?.ParamSettings?.ViewParameter?.Mode == "ProgressCircular"){
                                <MudProgressCircular Value="@GetProgressCircularValue(@context?.ParamSettings?.SettingParam ?? 0)" 
                                Style="height: 40px; width: 40px; position: relative; left: 20px;" Color="Color.Primary" Class="@progressCircularDisplay" />
                            }
                        </td>
                    </tr>
                </table>
                @*</MudPaper>*@
            }
            </MudTd>
       @* <MudTd DataLabel="Position">
            <MudTextField @bind-Value="@context.Position" ReadOnly="true" Variant="Variant.Text" />
        </MudTd>*@
        @*<MudTd Style="text-align: right" DataLabel="Molar mass">@context.Molar"</MudTd>*@
    </RowTemplate>
    @*<GroupFooterTemplate>
        <MudTh Class="mud-table-cell-custom-group mud-table-cell-custom-group-footer" colspan="5">Total Mass: @context.Items.Sum((e) => e.Molar)</MudTh>
    </GroupFooterTemplate>*@
</MudTable>
</DialogContent>
</MudDialog>


<MudDialog @bind-IsVisible="_isOpenParamsListDialog" Class="SelectDialog Scaled">
    <TitleContent>
        <MudText Typo="Typo.h6">@LocalStrByEnStr(@dynParamDataModel.ParamSettings.DisplayName)</MudText>
    </TitleContent>
    <DialogContent>
        <MudForm Model="@dynParamDataModel" @ref="_editParamListFormDialog">
        <MudList Clickable="true"                  
            SelectedItemChanged="SelectedListItemParamChanged">
            @*<MudListSubheader>
            <MudChip Color="Color.Secondary">
                (@(selectedItemParamValue?.ToString() ?? "0")) -- Position: @dynParamDataModel.Position
            </MudChip>
            </MudListSubheader>*@
            @{ int i = 0; }
                    @foreach (var paramText in @dynParamDataModel?.ParamSettings?.ViewParameter?.Values ?? new string[0])
                    {
                <MudListItem T="int" Value="@i">@LocalStrByEnStr(@paramText)</MudListItem>
                i = i + 1;
            }

        </MudList>    
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton Color="MudBlazor.Color.Secondary" OnClick="CloseParamsListDialog">@LocalStrByKey("_CultureButClose")</MudButton>
        @*<MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" OnClick="DeleteParamsAsync">Delete</MudButton>*@
    </DialogActions>
</MudDialog>

<MudDialog @bind-IsVisible="@_cultureSelectorVisible" Class="scaled">
    <TitleContent>
        <MudText Typo="Typo.h6">Select your locale:</MudText>
    </TitleContent>
    <DialogContent>
        <CultureSelector></CultureSelector>

        <UnitSelector></UnitSelector>
    </DialogContent>
    <DialogActions>
        <MudButton Color="MudBlazor.Color.Secondary" OnClick="CloseLocalizationDialog">@LocalStrByKey("_CultureButClose")</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-IsVisible="_menuExpanded" Class="scaled">
    <TitleContent>
        <table>
            <tr><td><MudText Typo="Typo.h6">@LocalStrByKey("Level") @((int)_userPasswordLevel)</MudText></td></tr>
            <tr><td><MudButton Style="position:relative; color:#6d7781 !important" OnClick="() => { GoToPage(CUTTING_DB_URL); }">@LocalStrByKey("_CultureCuttingData")</MudButton></td></tr>
            <tr><td><MudButton Disabled="IsOtherModeDisabled()" Style="position:relative; color:#6d7781 !important" OnClick="() => { GoToPage(HrefToOtherComponentMode); }">@LocalStrByEnStr($"{@OtherComponentMode} Mode")</MudButton></td></tr>
        </table>
    </TitleContent>
    <DialogContent>  
        <MudTd>@LocalStrByKey("_CultureButTorch") @CurrentDevice.DeviceNumber:
        <MudSwitch @bind-Checked="@IsEnabledMainControl" Color="Color.Primary" Disabled="IsEnabledOnDisabled()">@(CurrentDevice.IsEnabledMainControl ? @LocalStrByKey("_CultureParamEnabled") : @LocalStrByKey("_CultureParamDisabled"))</MudSwitch></MudTd>
        <MudList Clickable="true" Style="Height:220px;" >
            <MudListItem Icon="@Icons.Filled.Settings" Text="@T["_CultureButSettings"]" InitiallyExpanded="false">
                <NestedList>
                    <MudListItem Icon="@Icons.Filled.Article" OnClick="OpenSetupParamsDialog">@LocalStrByKey("_CultureButSetup")</MudListItem>
                    <MudListItem Icon="@Icons.Filled.Article" OnClick="OpenLocalizationDialog">@LocalStrByKey("_CultureLanguage") &nbsp;
                        <img src="@($"Images/Culture/{CultureInfo.CurrentUICulture.EnglishName.Split()[0]}.gif")" style="mix-blend-mode: normal; width: 35px; height: 20px; vertical-align: middle;" />
                    </MudListItem>
                    <MudListItem Icon="@Icons.Filled.Article" OnClick="OpenPasswordSetupDialog">@LocalStrByKey("_CultureButPassword")</MudListItem>
                    <MudListItem Icon="@Icons.Filled.Article" OnClick="OpenTorchInstalledDialog">@LocalStrByKey("_CultureButTorchInstalled")</MudListItem>
                </NestedList>
            </MudListItem>
        </MudList>          
    </DialogContent>
    <DialogActions>
        @*<MudButton Color="MudBlazor.Color.Secondary" OnClick="CloseDeleteParamsModal">Cancel</MudButton>
        <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" OnClick="DeleteParamsAsync">Delete</MudButton>*@
    </DialogActions>
</MudDialog>

<MudDialog @bind-IsVisible="@TorchInstalledDialogVisible" Class="my-install-toarch" Style="width:440px;">
    @*<TitleContent>
        <MudText Typo="Typo.h6" Style="text-align: center;">Torch Installed</MudText>
    </TitleContent>*@
    <DialogContent>
        <MudForm>
            <table width="100%">
                <tr>
                    <MudTh><b>@LocalStrByEnStr("Torch selection")</b></MudTh>
                    <MudTh><b>@LocalStrByEnStr("Torch type")</b></MudTh>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="position:absolute; top: 150px; left: 250px;">
                            <MudProgressCircular Style="height:70px;width:70px;" Color="Color.Primary" Indeterminate="true" Class="@drawerDisplay" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <MudOverlay Visible="_torchInstalledDialogIsBlocked" LightBackground="true" Absolute="true" />
            <MudGrid>
        @foreach (IhtDevice ihtDevice in ihtDevices.GetDevices().OrderBy(v => v.DeviceNumber))
        {
            <MudItem xs="6">
                    @*<input type="checkbox" @bind="@device.IsVisible" /> @:@device.DeviceNumber.ToString();*@
                    <MudCheckBox @bind-Checked="@ihtDevice.IsVisible" Dense="false" Color="Color.Primary" Disabled="@IsDeviceDisabled(ihtDevice.IsEnabledChbx)">
                        <MudText Style="font-size: 13px;font-weight: 500;" Typo="Typo.subtitle1">@LocalStrByKey("_CultureButTorch") @ihtDevice.DeviceNumber</MudText>
                    </MudCheckBox>
            </MudItem>
        }  
            </MudGrid>
                    </td>
                    <td width="50%" valign="top" style="border-width: 0 0 0 1px;border-color: #e0e0e0">
                        <MudSelect T="IhtDevices.TorchType" @bind-Value="@ihtDevices.TorchTypeSetup" Class="myselect" Style="margin-top: 0px;">             
                            <MudSelectItem T="IhtDevices.TorchType" Value="@(IhtDevices.TorchType.Propane)">@LocalStrByKey("_CulturePropane")</MudSelectItem>
                            <MudSelectItem T="IhtDevices.TorchType" Value="@(IhtDevices.TorchType.Acetylane)">@LocalStrByKey("_CultureAcetylane")</MudSelectItem>
                            <MudSelectItem T="IhtDevices.TorchType" Value="@(IhtDevices.TorchType.NaturalGas)">@LocalStrByKey("_CultureNaturalGas")</MudSelectItem>
                        </MudSelect>

                        <br />
                        <MudTh><b>COM Port</b></MudTh>
                        <MudSelect T="string" @bind-Value="@_nameComPort" Class="myselect" Style="margin-top: 0px;">             
                          @foreach (string s in SerialPort.GetPortNames())
                          {
                            <MudSelectItem T="string" Value="@s">@s</MudSelectItem>
                          }  
                        </MudSelect>

                        <br/>
                        <MudTh><b>Device Connection</b></MudTh>
                        <MudButton Variant="Variant.Filled" Style="align-content" OnClick="@(async () => { await Connection(); })" Disabled="@IsDeviceConnectionDisabled()">Connection</MudButton>
                        <MudCheckBox @bind-Checked="@_performResetDevices" Dense="false" Color="Color.Primary">
                            <MudText Style="font-size: 13px;font-weight: 500;" Typo="Typo.subtitle1">Perform a reset for all devices</MudText>
                        </MudCheckBox>																										
                        <MudCheckBox @bind-Checked="@_isSimulation" Dense="false" Color="Color.Primary">
                            <MudText Style="font-size: 13px;font-weight: 500;" Typo="Typo.subtitle1">Simulation (Demo-Mode)</MudText>
                        </MudCheckBox>								  

                    </td>
                </tr>
            </table>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton Color="MudBlazor.Color.Secondary" 
            OnClick="CloseTorchInstalledDialog" onmousedown="return false">@LocalStrByKey("_CultureButClose")</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog IsVisible="_initialDialogIsBlocked" Class=@($"{@_connectVisible} scaled") Style="height:400px;width:500px;background-color:transparent">
    <DialogContent>
        <MudText Typo="Typo.h6" Class="centered" Style="top:120px">Connecting to the device...</MudText>
        <MudProgressCircular Style="height:100px;width:100px;color:#585656 !important" Color="Color.Primary" Indeterminate="true" Class=@($"{_connectVisible} centered")/>
    </DialogContent>
</MudDialog>

<div class="flex-container scaled" >  
    <table id="controlPanel" class="tablemobile centered" width="500px">
        <tr>
            <MudText Typo="Typo.h4">Dynamic Params Modification (CNC)</MudText>
        </tr>
        <tr>
            <td style="border-bottom-width: 4px !important; border-bottom-color: white !important;">
                <div class="flex-item-left">
                    <table class="internal_div_table">
                        <tr>
            <MudTd Style="font-weight:bold;" Class="@GetDeviceNumClass(1)"
            @onclick="@(()=>SetDeviceNum(1))">1</MudTd>
            <MudTd Style="font-weight:bold;" Class="@GetDeviceNumClass(2)"
            @onclick="@(()=>SetDeviceNum(2))">2</MudTd>
            <MudTd Style="font-weight:bold;" Class="@GetDeviceNumClass(3)"
            @onclick="@(()=>SetDeviceNum(3))">3</MudTd>
                        </tr>
                    </table>
                 </div>
                 <div class="flex-item-right">
                    <table class="internal_div_table">
                        <tr>
            <MudTd Style="font-weight:bold;" Class="@GetDeviceNumClass(4)"
            @onclick="@(()=>SetDeviceNum(4))">4</MudTd>
            <MudTd Style="font-weight:bold;" Class="@GetDeviceNumClass(5)"
            @onclick="@(()=>SetDeviceNum(5))">5</MudTd>            
            <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
            <MudOverlay Visible="_isProcessBtnActive" LightBackground="true" Absolute="true" />
            <MudTd Style="padding:0px;" Class="device_lastcell">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" OnClick="@((e) => ToggleMenu())" />           
            </MudTd>
            </MudPaper>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom-width: 3px !important; border-bottom-color: white !important;">
                <div class="flex-item-left">
                    <table class="internal_div_table">
                        <tr>
            <MudTd Style="font-weight:bold;" Class="@GetDeviceNumClass(6)"
            @onclick="@(()=>SetDeviceNum(6))">6</MudTd>
            <MudTd Style="font-weight:bold;" Class="@GetDeviceNumClass(7)"
            @onclick="@(()=>SetDeviceNum(7))">7</MudTd>
            <MudTd Style="font-weight:bold;" Class="@GetDeviceNumClass(8)"
            @onclick="@(()=>SetDeviceNum(8))">8</MudTd>
                        </tr>
                    </table>
                </div>
                <div class="flex-item-right">
                    <table class="internal_div_table">
                        <tr>
            @if(ComponentMode != MANUAL_MODE && EXHIBITION_MODE){
                <td colspan="2" style="width: 66.35%;">
                    <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                    <MudOverlay Visible="IsStartProcessDisabled()" LightBackground="true" Absolute="true" />
                    <div class="button_container">
                        <div id="ProcessBtn" class="@(_isProcessBtnActive ? "process_btn active" : "process_btn")"
                            @onclick="@(async (_) => await StartProcessAsync())">
                            @(_isProcessBtnActive ? "Stop Process" : "Start Process")
                        </div>
                    </div>
                    </MudPaper>
                </td>
                
            }
            else{
                <MudTd Style="font-weight:bold;" Class="@GetDeviceNumClass(9)"
                @onclick="@(()=>SetDeviceNum(9))">9</MudTd>

                <MudTd Style="font-weight:bold;" Class="@GetDeviceNumClass(10)"
                @onclick="@(()=>SetDeviceNum(10))">10</MudTd>
            }
                <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                <MudOverlay Visible="IsSumDisabled()" LightBackground="true" Absolute="true" />
                    <MudTd Class="@(_isSumTorchesActive ? "device_lastcell active" : "device_lastcell")" 
                        Style="font-size:25px; padding:6px; font-family:none;" @onclick="@(() => ClickSumTorches())">&nbsp;&#8721;&nbsp;</MudTd> 
                </MudPaper>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="flex-item-left">
                <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                <MudOverlay Visible="!CurrentDevice.IsEnabledMainControl" LightBackground="true" Absolute="true" />
                <table class="internal_div_table">
                    <tr>
                        <MudTd Class="td_minus1" @onclick="@(() => ReduceParamValue(@paramHeatO2, 10))">
                            @*<MudTextField Variant="Variant.Outlined" T="string" ReadOnly="true" Style="background-color:aliceblue;" 
                            @onclick="@(() => --@paramHeatO2.DynParams.Value)" Value="@minus"/>*@
                             <img draggable="false" src="Images/minus1.png" class="img_minus1" />
                        </MudTd>
                        <td>
                            <MudSlider Style="margin-bottom:0px" @ontouchend="@(()=>UpdateDynParam(@paramHeatO2))" @onmouseup="@(()=>UpdateDynParam(@paramHeatO2))"
                            @bind-Value="@paramHeatO2.DynParams.Value" 
                            Min="@paramHeatO2.DynParams.ConstParams.Min" 
                            Max="@paramHeatO2.DynParams.ConstParams.Max"
                            Step="@paramHeatO2.DynParams.ConstParams.Step" 
                            Color="Color.Info"><table><tr><td style="text-align:left;">Flame (H-O):</td><td style="text-align:right; width:30%">@(DisplayParamValue(@paramHeatO2, "{0,0:0.0}"))&nbsp;&nbsp;</td>@(DisplayParamUnit(@paramHeatO2))<td style="text-align:right; width:10%"></td></tr></table>
                            </MudSlider>                           
                        </td> 
                        <MudTd Class="td_plus1" @onclick="@(() => IncreaseParamValue(@paramHeatO2, 10))">
                             <img draggable="false" src="Images/plus1.png" class="img_plus1" />
                        </MudTd>
                    </tr>
                    <tr>
                        <MudTd Class="td_minus1" @onclick="@(() => ReduceParamValue(@paramFuelGas))">
                            @*<MudTextField Variant="Variant.Outlined" T="string" ReadOnly="true" Style="background-color:aliceblue;" 
                            @onclick="@(() => --@paramHeatO2.DynParams.Value)" Value="@minus"/>*@
                             <img draggable="false" src="Images/minus1.png" class="img_minus1" />
                        </MudTd>
                        <td>
                            <MudSlider @ontouchend="@(()=>UpdateDynParam(@paramFuelGas))" @onmouseup="@(()=>UpdateDynParam(@paramFuelGas))"
                            @bind-Value="@paramFuelGas.DynParams.Value" 
                            Min="@paramFuelGas.DynParams.ConstParams.Min" 
                            Max="@paramFuelGas.DynParams.ConstParams.Max"
                            Step="@paramFuelGas.DynParams.ConstParams.Step" 
                            Color="Color.Info"><table><tr><td style="text-align:left;">Flame (F-G):</td><td style="text-align:right; width:30%">@(DisplayParamValue(@paramFuelGas, "{0,0:0.00}"))</td><td style="text-align:right; width:10%">@(DisplayParamUnit(@paramFuelGas))</td></tr></table>
                            </MudSlider>
                        </td>  
                        <MudTd Class="td_plus1" @onclick="@(() => IncreaseParamValue(@paramFuelGas))">
                            @*<MudTextField Variant="Variant.Outlined" T="string" ReadOnly="true" Style="background-color:aliceblue;" 
                            @onclick="@(() => --@paramHeatO2.DynParams.Value)" Value="@minus"/>*@
                             <img draggable="false" src="Images/plus1.png" class="img_plus1" />
                        </MudTd>
                    </tr>
                    <tr>
                        <MudTd Class="@($"td_minus1 {@_cutO2Visible}")" @onclick="@(() => ReduceParamValue(@paramCutO2, 10))">
                             <img draggable="false" src="Images/minus1.png" class="img_minus1" />
                        </MudTd>
                        <td>
                            <MudSlider Class="@_cutO2Visible" @ontouchend="@(()=>UpdateDynParam(@paramCutO2))" @onmouseup="@(()=>UpdateDynParam(@paramCutO2))"                
                            @bind-Value="@paramCutO2.DynParams.Value" 
                            Min="@paramCutO2.DynParams.ConstParams.Min" 
                            Max="@paramCutO2.DynParams.ConstParams.Max"
                            Step="@paramCutO2.DynParams.ConstParams.Step" 
                            Color="Color.Info"><table><tr><td style="text-align:left;">C - O:</td><td style="text-align:right; width:30%">@( (@paramCutO2.DynParams.Value * 0.001).ToString("0.0"))&nbsp;&nbsp;</td><td style="text-align:right; width:10%">Bar</td></tr></table>
                            </MudSlider>                        
                        </td>
                        <MudTd Class="@($"td_plus1 {@_cutO2Visible}")" @onclick="@(() => IncreaseParamValue(@paramCutO2, 10))">
                             <img draggable="false" src="Images/plus1.png" class="img_plus1" />
                        </MudTd>                       
                    </tr>
                </table>
                </MudPaper>
                </div>
                <div class="flex-item-right">
                    <table class="internal_div_table">
                        <tr>
                            <td class="button_tabcell">
                                <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                                <MudOverlay Visible="IsHCButtonsDisabled() || ComponentMode == MANUAL_MODE" LightBackground="true" Absolute="true" />
                                <div class="button_container">
                                    <div id="HCMoveTorchUp" class="@(_isHCTorchUpActive ? "up_btn active" : "up_btn")"
                                        @onpointerdown="@(async (e) => await HCMoveTorchUpAsync("HCMoveTorchUp"))"
                                        @onpointerup="@((_) => DeactiveButton("HCMoveTorchUp"))" @ontouchend="@((_) => DeactiveButton("HCMoveTorchUp"))"
                                        @onmouseout="@((_) => DeactiveButton("HCMoveTorchUp"))" @onmouseup="@((_) => DeactiveButton("HCMoveTorchUp"))">
                                        <img draggable="false" src="Images/button_clearance_control_on_new.png" style="mix-blend-mode: normal; width: 25px; height: 35px; vertical-align: middle;" />
                                        <img draggable="false" src="Images/__15_Top.png" style="mix-blend-mode: normal; width: 27px; height: 16px; vertical-align: middle;" />
                                        
                                    </div>
                                </div>
                                </MudPaper>
                                <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                                <MudOverlay Visible="IsHCOnOffDisabled() || ComponentMode != MANUAL_MODE" LightBackground="true" Absolute="true" />
                                <div class="button_container">
                                    <div id="OnOff" class="@(_isHCOnOffActive ? "central_ch_btn active" : "central_ch_btn")"
                                        @onclick="@(async () => await TurnHCOnOffAsync())">
                                        <img draggable="false" src="@(_isHCOnOffActive ? "Images/button_clearance_control_on_new.png" : "Images/button_clearance_control_off_w.png")" 
                                                style="mix-blend-mode: normal; vertical-align: middle; @(_isHCOnOffActive ? "width: 25px; height: 35px;" : "width: 45px; height: 40px;")" />                                  
                                    </div>
                                </div>
                                </MudPaper>
                                <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                                <MudOverlay Visible="IsHCButtonsDisabled() || ComponentMode == MANUAL_MODE" LightBackground="true" Absolute="true" />
                                <div class="button_container">
                                    <div id="HCMoveTorchDown" class="@(_isHCTorchDownActive ? "down_btn active" : "down_btn")"
                                        @onpointerdown="@(async (e) => await HCMoveTorchDownAsync("HCMoveTorchDown"))"
                                        @onpointerup="@((_) => DeactiveButton("HCMoveTorchDown"))" @ontouchend="@((_) => DeactiveButton("HCMoveTorchDown"))"
                                        @onmouseout="@((_) => DeactiveButton("HCMoveTorchDown"))" @onmouseup="@((_) => DeactiveButton("HCMoveTorchDown"))">
                                        <img draggable="false" src="Images/button_clearance_control_on_new.png" style="mix-blend-mode: normal; width: 25px; height: 35px; vertical-align: middle;" />
                                        <img draggable="false" src="Images/__15_Bottom.png" style="mix-blend-mode: normal; width: 27px; height: 16px; vertical-align: middle;" />
                                    </div>
                               </div>
                              </MudPaper>
                            </td>
                            
                            <td class="button_tabcell">
                                <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                                <MudOverlay Visible="IsMoveUpButtonDisabled()" LightBackground="true" Absolute="true"/>
                                <div class="button_container">
                                    <div id="MoveTorchUp" class="@(_isTorchUpActive ? "up_btn active" : "up_btn")"
                                        @onpointerdown="@(async (e) => await MoveTorchUpAsync("MoveTorchUp"))"
                                        @onpointerup="@((_) => DeactiveButton("MoveTorchUp"))" @ontouchend="@((_) => DeactiveButton("MoveTorchUp"))"
                                        @onmouseout="@((_) => DeactiveButton("MoveTorchUp"))" @onmouseup="@((_) => DeactiveButton("MoveTorchUp"))">
                                        <img draggable="false" src="Images/__15_Top.svg" style="mix-blend-mode: normal; width: 80px; height: 55px; vertical-align: middle;" />
                                    </div>
                                </div>
                                @if (ComponentMode == MANUAL_MODE)
                                {
                                    <div class="button_container">
                                        <div class="central_btn" style="background-color:#ffff"></div>
                                    </div>
                                }
                                else{
                                    <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                                    <MudOverlay Visible="IsCalibrationButtonDisabled()" LightBackground="true" Absolute="true" />
                                    <div class="button_container">
                                        <div id="CalibrateBtn" class="@GetCalibrationClass()" @onclick="@(async (_) => await CalibrationProcessAsync())">CALIB</div>
                                    </div>
                                    </MudPaper>
                                }
                                </MudPaper>
                                <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                                <MudOverlay Visible="IsMoveDownButtonDisabled()" LightBackground="true" Absolute="true" />
                                <div class="button_container">
                                    <div id="MoveTorchDown" class="@(_isTorchDownActive ? "down_btn active" : "down_btn")"
                                        @onpointerdown="@(async (e) => await MoveTorchDownAsync("MoveTorchDown"))"
                                        @onpointerup="@((_) => DeactiveButton("MoveTorchDown"))" @ontouchend="@((_) => DeactiveButton("MoveTorchDown"))"
                                        @onmouseout="@((_) => DeactiveButton("MoveTorchDown"))" @onmouseup="@((_) => DeactiveButton("MoveTorchDown"))">
                                        <img draggable="false" src="Images/__15_Bottom.svg" style="mix-blend-mode: normal; width: 80px; height: 55px; vertical-align: middle;" />
                                    </div>
                               </div>
                               </MudPaper>                             
                            </td>

                            @if (ComponentMode == MANUAL_MODE)
                            {
                            <td class="button_tabcell" height="100%">
                                <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                                <MudOverlay Visible="IsIgnitionButtonDisabled()" LightBackground="true" Absolute="true"/>
                                <div class="button_container">
                                    <div id="FlameOnButton" class="FlameIsOff flame_btn" style="display: @(!_isFlameOn ? "flex" : "none"); height:184px"
                                        @onclick="@(async (e) => await TurnFlameOnAsync())">
                                        <img draggable="false" src="Images/torch_only_no_flame_w.png" 
                                                style="mix-blend-mode: normal; width: 50px; height: 55px; vertical-align: middle;" />
                                    </div>
                                </div>
                                <div class="button_container">
                                    <div id="FlameOffButton" class="FlameIsOn flame_btn" style="display: @(_isFlameOn ? "flex" : "none"); height:184px"
                                        @onclick="@(async (e) => await TurnFlameOffAsync())">
                                        <img draggable="false" src="Images/torch_with_CO_w.png" 
                                                style="mix-blend-mode: normal; width: 50px; height: 55px; vertical-align: middle;" />
                                </div>
                                </div>
                                </MudPaper>
                            </td>
                           }
                           else 
                           {                            
                            <td class="button_tabcell">
                                <table style="margin: 0px 0px 0px 3px !important"> 
                                    <tr>
                                        <td class="@(_isFlameOnEndActive ? "divcell tabcell_menu" : "divcell tabcell_menu")"
                                            @onclick="@(async (_) => await ClickFlameOnEndAsync())">
                                            <img draggable="false" src="@(_isFlameOnEndActive ? "Images/torch_too_much_gas.png" : "Images/torch_ignition.png")" 
                                                style="mix-blend-mode: multiply; width: 50px; height: 55px; vertical-align: middle;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                                        <MudOverlay Visible="IsReloadPreHeatingTimeDisabled()" LightBackground="true" Absolute="true"/>
                                        <td class="@(_isReloadPreHeatingTimeActive ? "divcell tabcell_menu active" : "divcell tabcell_menu")"
                                            @onpointerdown="@(async (e) => await ReloadPreHeatingTimeActivateAsync("ReloadPreHeatingTime"))"
                                            @onmouseout="@((_) => DeactiveButton("ReloadPreHeatingTime"))"
                                            @onpointerup="@(async (e) => await ReloadPreHeatingTimeAsync())">
                                            <img draggable="false" src="Images/button_refresh2.png" style="mix-blend-mode: multiply; width: 80px; height: 55px; vertical-align: middle;" />
                                        </td>
                                        </MudPaper>
                                    </tr>
                                    <tr>
                                        <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                                        <MudOverlay Visible="IsStartPiercingDisabled()" LightBackground="true" Absolute="true"/>
                                        <td class="@(_isStartPiercingActive ? "divcell tabcell_menu active" : "divcell tabcell_menu")"
                                            @onpointerdown="@(async (e) => await StartPiercingActivateAsync("StartPiercing"))"
                                            @onmouseout="@((_) => DeactiveButton("StartPiercing"))"
                                            @onpointerup="@(async (e) => await StartPiercingAsync())">
                                            <img draggable="false" src="Images/torch_plate_piercing3.png" style="mix-blend-mode: multiply; width: 80px; height: 55px;" />
                                        </td>
                                        </MudPaper>
                                    </tr>
                                </table>
                            </td>
                            }
                        </tr>
                    </table>
                </div>
            </td>                      
        </tr>
        <tr>
            <td style="border-top-width: 2px !important; border-top-color: white !important;">
                <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                <MudOverlay Visible="!CurrentDevice.IsEnabledMainControl" LightBackground="true" Absolute="true" />
                <div class="flex-item-left">
                    <table class="internal_div_table" style="border-spacing: @(ComponentMode == MANUAL_MODE ? "0" : "0")px !important;">
                        <tr>
                            @if (ComponentMode == MANUAL_MODE)
                            {
                                <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                                <MudOverlay Visible="_isHCOnOffActive" LightBackground="true" Absolute="true" />
                                <MudTd Style="font-weight:bold;" Class="@GetParamsTypeClass(IGNITION)"
                                    @onclick="@(()=>SetParamsType(IGNITION))">@LocalStrByKey("_CultureButIgnition")</MudTd>
                                </MudPaper>
                                <MudTd Style="font-weight:bold;" Class="@GetParamsTypeClass(PRE_HEAT)"
                                    @onclick="@(()=>SetParamsType(PRE_HEAT))">@LocalStrByKey("_CultureButPreHeating")</MudTd>
                                <MudTd Style="font-weight:bold;" Class="@GetParamsTypeClass(PIERCING)"
                                    @onclick="@(()=>SetParamsType(PIERCING))">@LocalStrByKey("_CultureButPiercing")</MudTd>
                            }
                            else
                            {
                                <td style="border-width:0px; font-weight:normal !important; box-sizing:border-box;" class="tabcell tabcell_status internal_div_table">
                                    CurrOutHeatO2:@dataCommon.CurrOutHeatO2 CurrOutCutO2:@dataCommon.CurrOutCutO2 CurrOutFuelGas:@dataCommon.CurrOutFuelGas
                                </td>
                            }
                        </tr>
                    </table>
                </div>
                <div class="flex-item-right">
                    <table class="internal_div_table" style="border-spacing: @(ComponentMode == MANUAL_MODE ? "0" : "0")px !important;">
                        <tr>
                            @if (ComponentMode == MANUAL_MODE)
                            {
                                <MudTd Style="font-weight:bold;" Class="@GetParamsTypeClass(CUTTING)"
                                    @onclick="@(()=>SetParamsType(CUTTING))">@LocalStrByKey("_CultureButCutting")</MudTd>
                                <MudPaper Style="position:relative; box-shadow: 0px 0px 0px 0px;">
                                <MudOverlay Visible="_isHCOnOffActive" LightBackground="true" Absolute="true" />
                                <MudTd Style="font-weight:bold;" Class="@GetParamsTypeClass(HEATTING)"
                                    @onclick="@(()=>SetParamsType(HEATTING))">@LocalStrByKey("_CultureButHeating")</MudTd>
                                </MudPaper>
                                <td class="mud-table-cell UnselectedParamsType tabcell">@ComponentMode</td>
                            }
                            else
                            {
                                <td style="border-width:0px; font-weight:normal !important; display:flex; flex-direction:row; justify-content:center; align-items:center; box-sizing:border-box;" 
                                    class="tabcell tabcell_status internal_div_table">
                                    <div>Heat Time:</div>
                                    <MudProgressCircular Value="@reloadProgressValue" Style="height:40px;width:40px; position: absolute;left: 438px" Color="Color.Primary" 
                                        Class="@reloadProgressDisplay" />
                                    <div Style="position: absolute;left: 450px">@_currHeatTime</div>
                                </td>
                            }
                        </tr>
                    </table>                   
                </div> 
                </MudPaper>
            </td>
        </tr>
    </table>
</div>

}
@code {
    [Parameter]
    public string? ComponentMode { get; set; } = PROCESS_MODE;

    private const string PROCESS_MODE = "Process";
    private const string MANUAL_MODE = "Manual";

    private const string minus = "-";

    // TODO: read from settings
    private bool EXHIBITION_MODE 
    {
        get
        {
            var ihtCmdParams = IhtCmdLineParams.GetIhtCmdLineParams();
            return ihtCmdParams.IsSimulationExhibiton;

        }
    }

    private string OtherComponentMode
    {
        get
        {
            return (ComponentMode ?? PROCESS_MODE) == PROCESS_MODE ? MANUAL_MODE : PROCESS_MODE;
        }
    }

    private string HrefToOtherComponentMode
    {
        get
        {
            return $"/{OtherComponentMode}";
        }
    }

    private bool _isSimulation = false;
    private string _nameComPort = string.Empty;

    private bool IsDeviceConnectionDisabled() => _nameComPort?.Length == 0 && !_isSimulation;

    public event EventHandler? DynamicAPCParamsClientChanged;
    public event EventHandler? DynamicAPCParamsClientChangedCommon;
    public event EventHandler? APCTorchPositionChanged;
    public event EventHandler? APCTorchPositionStoped;
    public static event EventHandler? ClientStartedOrStoppedWorkingWithDeviceRefreshIsNeeded;
    public static event EventHandler? ConnectedTorchesInstalledClientReceivedDataRefreshIsNeeded;

    private ParameterDataModel paramHeatO2 = new();
    private ParameterDataModel paramFuelGas = new();
    private ParameterDataModel paramCutO2 = new();
    private ParameterDataModel paramFlameAdjust = new();

    private string _cutO2Visible;
    private string _flameAdjustVisible;
    private const string INVISIBLE_CLASS = "invisible";
    private const string VISIBLE_CLASS = "visible";

    private const string NONE_DISPLAY_CLASS = "d-none";
    private const string DISPLAY_CLASS = "d-block";

    private const string CUTTING_DB_URL = "/CuttingDB";

    private const string IGNITION = CommonConstants.IGNITION;
    private const string PRE_HEAT = CommonConstants.PRE_HEAT;
    private const string PIERCING = CommonConstants.PIERCING;
    private const string CUTTING = CommonConstants.CUTTING;
    private const string HEATTING = CommonConstants.HEATTING;

    //private int spValueOriginal = 50;
    private int spValueCurrent = 50;
    private string currentTorchEventName = string.Empty;
    private bool isTorchStartedMoving = false;
    private bool _menuExpanded = false;

    private bool _setupParamsDialogVisible = false;
    private ParameterDataModel? dynParamDataModel = new ParameterDataModel();
    private bool _editParamDialogVisible = false;
    private int _sliderDynParamValue;
    private bool _isOpenParamsListDialog = false;
    private object selectedItemParamValue;

    private MudForm _editParamForm;
    private MudListItem selectedItem;
    private MudForm _editParamListFormDialog;

    /////////////////////////////////////////////////////////////////////////////////////////////////////////

    private IhtDevices.PasswordLevel_SW _userPasswordLevel = IhtDevices.PasswordLevel_SW.Level_0;
    private string _setupPasswordValue = "";
    private bool _setupPasswordDialogVisible = false;

    private bool _cultureSelectorVisible = false;

    private bool _torchInstalledDialogVisible = false;
    public bool TorchInstalledDialogVisible
    {
        get
        {
            return _torchInstalledDialogVisible;
        }
        set
        {
            _torchInstalledDialogVisible = value;

            if (value)
            {
                SaveCurrentIsVisibleAndTorchType();
            }
            else
            {
                RestoreIsVisibleAndTorchType();
            }
        }
    }

    private bool _performResetDevices = false;
    private bool _torchInstalledDialogIsBlocked = false;
    private bool _initialDialogIsBlocked = false;
    private int _currentVisibleTorchesNum = 0;
    private IhtDevices.TorchType _currentTorchTypeSetup;
    private bool _isControlPanelDisabled = false;

    private bool _isProcessBtnActive 
    { 
        get
        {
            return IsProcessActivated();
        }
        set {}
    }

    private TableGroupDefinition<ParameterDataModel> _groupDefinition = new()
    {
        GroupName = "Group",
        Indentation = false,
        Expandable = true,
        IsInitiallyExpanded = false,
        Selector = (e) => e.ViewGroup
    };

    private IEnumerable<ParameterDataModel> Elements = new List<ParameterDataModel>();

    private Dictionary<string, IhtDevices.PasswordLevel_SW> _passwordToLevelDictionary = new Dictionary<string, IhtDevices.PasswordLevel_SW>()
    {
        { "0000", IhtDevices.PasswordLevel_SW.Level_0 },
        { "1111", IhtDevices.PasswordLevel_SW.Level_1 },
        { "2222", IhtDevices.PasswordLevel_SW.Level_2 },
        { "3333", IhtDevices.PasswordLevel_SW.Level_3 }
    };

    protected override async Task OnInitializedAsync()
    {
        await GetSetupParametersAsync();

        if (ihtModbusCommunic.GetConnectedModbusDatas().Count == 0)
        {
            await Connection(manual: false);
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task GetSetupParametersAsync(bool refreshAll = true)
    {
        Elements = await parameterDataInfoManager.GetDeviceSetupParamsAsync(dynDataModificationCNCDataProvider.CurrentDeviceNumber, CancellationToken.None, refreshAll);

        if (Elements != null)
        {
            Elements = Elements.Where(p => p.PasswordLevel <= _userPasswordLevel && (p.ParamSettings?.Visible ?? true));
        }
    }

    private async Task Connection(bool manual = true)
    {
        if (manual)
        {
            _torchInstalledDialogIsBlocked = true;
        }
        else
        {
            _initialDialogIsBlocked = true;
        }

        await Task.Delay(TimeSpan.FromSeconds(0.1));

        // Connection to the APC devices
        _nameComPort = string.IsNullOrWhiteSpace(_nameComPort) ? DEFAULT_COM_PORT : _nameComPort;

        await apcCommunicManager.Init(_nameComPort, _isSimulation, _performResetDevices);

        ConnectedTorchesInstalledClientReceivedDataRefreshIsNeeded?.Invoke(this, EventArgs.Empty);

 #if true
        string tcpIpAddrServer = "127.0.0.1";
        #if false
    IhtCmdLineParams ihtCmdLineParams = IhtCmdLineParams.GetIhtCmdLineParams();
    string cmdLineTcpIpAddrServer = String.Empty;
    if (ihtCmdLineParams.GetParam(IhtCmdLineParams.IdNo.TcpIpAddrServer, ref cmdLineTcpIpAddrServer))
    {
      tcpIpAddrServer = cmdLineTcpIpAddrServer;
    }
        #endif
        await MqttConnectAsync(new TimeSpan(0, 0, 30), tcpIpAddrServer);
#endif
        // We do not need to stop worker
        //await _apcWorkerBackgroundService.StopAsync(APCWorkerBackgroundService._stoppingCts.Token);

        if (manual)
        {
            navigationManager.NavigateTo(navigationManager.Uri, true);
        }
        else
        {
            _initialDialogIsBlocked = false;
        }
    }

    /// <summary>
    /// 
    /// </summary>
    /// <returns></returns>
    private async Task MqttConnectAsync(TimeSpan timeSpan, string tcpServerAddr)
    {
        try
        {
            MqttModelFactory mqttModelFactory = MqttModelFactory.Instance();

            mqttModelFactory = MqttModelFactory.Instance(tcpServerAddr, 1883);
            mqttModelFactory.RegisterPublishers();

            if (mqttModelFactory.IsClientsError || !mqttModelFactory.IsClientsConnected())
            {
                if (mqttModelFactory.IsClientsError)
                {
                    try {await mqttModelFactory.DisconnectClientsAsync(CancellationToken.None); }
                    catch { }
                    mqttModelFactory.ClearClientsError();
                }
                Console.WriteLine($"MQTT: Connecting with server {mqttModelFactory.Server}:{mqttModelFactory.ServerPort}");
                await mqttModelFactory.ConnectClientsAsync(timeSpan, CancellationToken.None);
                Console.WriteLine($"MQTT: Subscribe clients");
                await mqttModelFactory.SubscribeClientsAsync(MqttQualityOfServiceLevel.AtLeastOnce, CancellationToken.None);
            }

            Console.WriteLine($"MQTT: Connected with server {mqttModelFactory.Server}:{mqttModelFactory.ServerPort}");

            List<string> topics = mqttModelFactory.GetSubscibedTopicsAll();
            foreach (var item in topics)
            {
                Console.WriteLine($"MQTT: Topic = {item}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"MQTT: {ex.Message}");
            if (ex.InnerException != null)
            {
                Console.WriteLine($"MQTT: {ex.InnerException?.Message}");
            }
        }

    }
    private void GoToPage(string pageUrl)
    {
        navigationManager.NavigateTo(pageUrl, true);
    }

    private bool IsDeviceDisabled(bool IsEnableds)
    {
        return !IsEnableds;
    }

    private bool IsMoveUpButtonDisabled()
    {
        return dynDataModificationCNCDataProvider.IsCurrentDeviceBusy || !CurrentDevice.IsConnected || !CurrentDevice.IsEnabledMainControl;
    }

    private void IncreaseParamValue(ParameterDataModel parameterData, int stepMultiplayer = 1)
    {
        if(parameterData != null && parameterData.DynParams != null && parameterData.DynParams.ConstParams != null)
        {
            parameterData.DynParams.Value = parameterData.DynParams.Value + parameterData.DynParams.ConstParams.Step * stepMultiplayer;

            if (parameterData.DynParams.Value > parameterData.DynParams.ConstParams.Max)
            {
                parameterData.DynParams.Value = parameterData.DynParams.ConstParams.Max;
            }

            UpdateDynParam(parameterData);
        }
    }

    private void ReduceParamValue(ParameterDataModel parameterData, int stepMultiplayer = 1)
    {
        if(parameterData != null && parameterData.DynParams != null && parameterData.DynParams.ConstParams != null)
        {
            parameterData.DynParams.Value = parameterData.DynParams.Value - parameterData.DynParams.ConstParams.Step * stepMultiplayer;

            if (parameterData.DynParams.Value < parameterData.DynParams.ConstParams.Min)
            {
                parameterData.DynParams.Value = parameterData.DynParams.ConstParams.Min;
            }

            UpdateDynParam(parameterData);
        }
    }

    private bool IsMoveDownButtonDisabled()
    {
        if (CurrentDevice != null && CurrentDevice.IsEnabledMainControl && CurrentDevice.dataProcessInfo != null)
        {
            return !CurrentDevice.dataProcessInfo.IsEnabledManDown || !CurrentDevice.IsConnected;
        }

        return true;
    }

    private bool IsCalibrationButtonDisabled()
    {
        return IsProcessActivated();
    }

    private bool IsProcessActivated()
    {
        if (CurrentDevice != null && CurrentDevice.dataProcessInfo != null)
        {
            return CurrentDevice.dataProcessInfo.IsProcessActive;
        }

        return false;
    }

    private bool IsIgnitionButtonDisabled()
    {
        return dynDataModificationCNCDataProvider.IsCurrentDeviceBusy || !CurrentDevice.IsConnected || !CurrentDevice.IsEnabledMainControl || _isHCOnOffActive;
    }

    private bool IsHCButtonsDisabled()
    {
        if (CurrentDevice != null && CurrentDevice.dataProcessInfo != null)
        {
            return !CurrentDevice.dataProcessInfo.IsHeightControlActive;
        }

        return true;
    }

    private bool IsHCOnOffDisabled()
    {
        return _isFlameOn || !CurrentDevice.IsEnabledMainControl;
    }

    private bool IsStartProcessDisabled()
    {
        return !CurrentDevice.IsEnabledMainControl || _isCalibrationActive;
    }

    private bool IsSumDisabled()
    {
        var enabledDevicesCount = ihtDevices.GetDevices().Where(dev => dev.IsEnabledMainControl).ToList().Count;

        if (enabledDevicesCount < 2)
        {
            _isSumTorchesActive = false;
            dynDataModificationCNCDataProvider.IsBroadCastMode = false;
        }

        return enabledDevicesCount < 2 || _isFlameOn || _isHCOnOffActive || _isCalibrationActive;
    }

    private bool IsOtherModeDisabled()
    {
        return ihtDevices.GetConnectedDevices().Count == 0;
    }

    private void OpenSetupParamsDialog()
    {
        _setupParamsDialogVisible = true;
    }

    private void CloseSetupParamsDialog()
    {
        _setupParamsDialogVisible = false;
    }

    private void OpenPasswordSetupDialog()
    {
        _setupPasswordValue = string.Empty;

        _setupPasswordDialogVisible = true;
    }

    private void ClosePasswordSetupDialog()
    {
        _setupPasswordValue = string.Empty;

        _setupPasswordDialogVisible = false;
    }

    private void OpenTorchInstalledDialog()
    {
        TorchInstalledDialogVisible = true;
    }

    private void CloseTorchInstalledDialog()
    {
        TorchInstalledDialogVisible = false;
    }

    private void OpenLocalizationDialog()
    {
        _cultureSelectorVisible = true;
    }

    private void CloseLocalizationDialog()
    {
        _cultureSelectorVisible = false;

        _menuExpanded = false;
        //navigationManager.NavigateTo(navigationManager.Uri, true);
    }

    private void RestoreIsVisibleAndTorchType()
    {
        ihtDevices.TorchTypeSetup = _currentTorchTypeSetup;

        var device = GetDeviceByDeviceNumber(_currentVisibleTorchesNum);
        device.IsVisible = false;
        device.IsVisible = true;
    }

    private void SaveCurrentIsVisibleAndTorchType()
    {
        _currentVisibleTorchesNum = ihtDevices.GetDevices().Where(x => x.IsVisible).Max(x => x.DeviceNumber);

        _currentTorchTypeSetup = ihtDevices.TorchTypeSetup;
    }

    private bool IsEnabledOnDisabled()
    {
        return !CurrentDevice.IsEnabledOn;
    }

    private void SetNewPasswordLevel()
    {
        IhtDevices.PasswordLevel_SW newPasswordLevel;

        if (_passwordToLevelDictionary.TryGetValue(_setupPasswordValue, out newPasswordLevel))
        {
            _userPasswordLevel = newPasswordLevel;

            GetSetupParametersAsync().Wait();
        }

        ClosePasswordSetupDialog();
    }

    private async Task GetEditPassword(string passSimbol)
    {
        if(passSimbol == "x")
        {
            if (!string.IsNullOrEmpty(_setupPasswordValue))
            {
                _setupPasswordValue = _setupPasswordValue.Remove(_setupPasswordValue.Length - 1);
            }
            else
            {
                return;
            }
        }
        else
        {
            if (_setupPasswordValue.Length < 4)
            {
                _setupPasswordValue = $"{_setupPasswordValue}{passSimbol}";
            }

            if(_setupPasswordValue.Length == 4)
            {
                await Task.Delay(TimeSpan.FromSeconds(0.2));
                SetNewPasswordLevel();
            }
        }
    }

    private void OpenEditParamDialog()
    {
        _editParamDialogVisible = true;
    }

    private void GetParamDataModel(Guid id)
    {
        dynParamDataModel = Elements.FirstOrDefault(p => p.Id == id) ?? new ParameterDataModel();
    }

    private void OpenParamsListDialog()
    {
        _isOpenParamsListDialog = true;
    }

    private void CloseEditParamDialog()
    {
        _editParamDialogVisible = false;
    }

    private void ResetPassword()
    { 
        _userPasswordLevel = IhtDevices.PasswordLevel_SW.Level_0;

        GetSetupParametersAsync().Wait();
        ClosePasswordSetupDialog();
    }

    private bool GetReadOnlyStatus(int number)
    {
        var returnVal = false;

        if(number == 1)
        {
            returnVal = true;
        }

        return returnVal;
    }

    private void RowClickEvent(TableRowClickEventArgs<ParameterDataModel> tableRowClickEventArgs)
    {
        var id = tableRowClickEventArgs.Item.Id;
        var editMode = tableRowClickEventArgs.Item.ParamSettings?.ViewParameter?.Mode;

        GetParamDataModel(id);

        if (dynParamDataModel.ParamSettings?.ReadOnly ?? false) return;

        if (editMode == "Slider")
        {
            OpenEditParamDialog();
        }
        else if (editMode == "Select")
        {
            OpenParamsListDialog();
        }
    }

    private async void ParameterValueChanged(ushort? paramValue = null)
    {
        // Save data in to the DB or Device properties
        if(paramValue == null)
        {
            paramValue = (ushort)(dynParamDataModel?.DynParams?.Value ?? 0);
        }

        if (dynParamDataModel?.ParamSettings != null)
        {
            var result = await dynParamDataModel.ParamSettings.WriteAsync(ihtDevices, CurrentSlaveId, (ushort)(paramValue));
        }

        await GetSetupParametersAsync(refreshAll: true);
    }

    private void SelectedListItemParamChanged(MudListItem mudListItem)
    {
        if (mudListItem != null)
        {
            ParameterValueChanged((ushort)((int)mudListItem.Value));
        }
    }

    private void CloseParamsListDialog()
    {
        _isOpenParamsListDialog = false;
    }

    ///// ---- start preFlowActive indicator ----

    public int preflowActiveValue;

    private bool preflowActiveDisabled = true;

    public async void SimulateProgress()
    {
        preflowActiveValue = 5;
        do
        {
            await Task.Delay(TimeSpan.FromSeconds(1));

            preflowActiveValue = preflowActiveValue - 1;
            StateHasChanged();


        } while (preflowActiveValue > 0);

        preflowActiveDisabled = true;
        PreflowStarted = false;
    }

    private bool _preflowStarted;
    bool PreflowStarted
    {
        get { return _preflowStarted; }
        set { _preflowStarted = value; PreflowStartSwitch_ChangedValue(value);  }
    }

    ///// ---- end preFlowActive indicator ----

    private int _maxProgressCircularValue;
    private int _curProgressCircularValue;

    private double GetProgressCircularValue(SettingParamIds settingParamId)
    {
        var param = Elements.FirstOrDefault(p => p.ParamSettings != null && p.ParamSettings.SettingParam == settingParamId);

        var paramValue = param?.DynParams?.Value ?? 0;

        if(_maxProgressCircularValue == 0)
        {
            _maxProgressCircularValue = paramValue;
        }

        _curProgressCircularValue = paramValue;

        double returnValue = 100;

        if (_maxProgressCircularValue != 0)
        {
            returnValue = _curProgressCircularValue * 100.0 / _maxProgressCircularValue;
        }

        return returnValue;
    }

    private string progressCircularDisplay
    {
        get
        {
            // To see the indicator immediately, we need to change the condition
            return _maxProgressCircularValue > _curProgressCircularValue ? VISIBLE_CLASS : INVISIBLE_CLASS;
        }
    }

    
    
    private double reloadProgressValue
    {
        get
        {
            _currHeatTime = ihtDevices.GetDataProcessInfo(CurrentSlaveId).CurrHeatTime;

            //return 100.0 - ((_currHeatTime * 100.0)/_maxHeatTime);

            return _currHeatTime * 100.0/_maxHeatTime;
        }
    }

    private string reloadProgressDisplay
    {
        get
        {
            return IsLedPreHeating ? DISPLAY_CLASS : NONE_DISPLAY_CLASS;
        }
    }

    private int _maxHeatTime;
    private int _currHeatTime;

    public void SetMaxHeatTimeProgressValue(int maxHeatTime)
    {
        _maxHeatTime = maxHeatTime;
    }

    bool IsEnabledMainControl
    {
        get { return CurrentDevice.IsEnabledMainControl; }
        set
        {
            CurrentDevice.IsEnabledMainControl = value;

            if (value)
            {
                dynDataModificationCNCDataProvider.ManualySelectedDeviceIsDisabled = false;
            }
        }
    }

    public bool this[SettingParamIds settingParamId]
    {
        get
        {
            var param = Elements.FirstOrDefault(p => p.ParamSettings != null && p.ParamSettings.SettingParam == settingParamId);

            return (param?.DynParams?.Value ?? 0) == 0 ? false : true;
        }
        set
        {
            var paramValue = value == false ? 0 : 1;

            ParameterValueChanged((ushort)paramValue);
        }
    }

    void ClickedParamButton(SettingParamIds settingParamId)
    {
        dynParamDataModel = Elements.FirstOrDefault(p => p.ParamSettings != null && p.ParamSettings.SettingParam == settingParamId);

        if (dynParamDataModel?.ParamSettings != null)
        {
            ParameterValueChanged();
        }
    }

    private void PreflowStartSwitch_ChangedValue(bool isChecked)
    {
        if (dynParamDataModel == null || dynParamDataModel.DynParams == null) return;

        dynParamDataModel.DynParams.Value = isChecked ? 1 : 0;

        var paramName = dynParamDataModel.ParamName;
        var paramVal = dynParamDataModel.DynParams?.Value;

        if(paramName == IhtModbusParamDyn.eIdxAdditional.StartPreflow.ToString() && paramVal == 1)
        {
            preflowActiveDisabled = false;
            SimulateProgress();
        }
    }
    ////////////////////////////////////////////////////////////////////////////////////////////////////////

    private int VisibleDevicesCount {
        get
        {
            return ihtDevices.GetDevices().Where(d => d.IsVisible).Count();
        }
    }

    private int ConnectedDevicesCount {
        get
        {
            return ihtDevices.GetDevices().Where(d => d.IsVisible && d.IsConnected).Count();
        }
    }

    private string drawerDisplay {
        get
        {
            return _torchInstalledDialogIsBlocked ? DISPLAY_CLASS : NONE_DISPLAY_CLASS;
        }
    }

    private string _connectVisible {
        get
        {
            return _initialDialogIsBlocked ? DISPLAY_CLASS : NONE_DISPLAY_CLASS;
        }
        set { }
    }

    private IhtDevice CurrentDevice
    {
        get
        {
            return ihtDevices.GetDevice(dynDataModificationCNCDataProvider.CurrentSlaveId);
        }
    }

    private void ToggleMenu()
    {
        _menuExpanded = !_menuExpanded;
    }

    protected override void OnInitialized()
    {
        dynDataModificationCNCDataProvider.DynamicAPCParamsDataChanged += DynamicAPCParamsOnDynamicAPCParamsDataChanged;
        this.DynamicAPCParamsClientChanged += dynDataModificationCNCDataProvider.dynamicParamsDysplay_DynamicAPCParamsClientChanged;

        this.DynamicAPCParamsClientChangedCommon += dynDataModificationCNCDataProvider.dynamicParamsDysplay_DynamicAPCParamsClientChangedCommon;

        // Subscribe of Data Provider for the Client Event of moving torch (Up or Down)
        this.APCTorchPositionChanged += dynDataModificationCNCDataProvider.dynamicParamsDysplay_APCTorchPositionChanged;

        // Subscribe of Data Provider for the Client Event of stopping the torch
        this.APCTorchPositionStoped += dynDataModificationCNCDataProvider.dynamicParamsDysplay_APCTorchPositionStoped;

        // Subscribe for event of client stopping working with the torch
        ClientStartedOrStoppedWorkingWithDeviceRefreshIsNeeded += DynamicAPCParamsOnDynamicAPCParamsDataChanged;

        // Subscribe for event of client connected to the devices and received the data
        ConnectedTorchesInstalledClientReceivedDataRefreshIsNeeded += DynamicAPCParamsOnConnectedTorchesInstalled;

        base.OnInitialized();
    }


    /// <summary>
    /// 
    /// </summary>
    /// <param name="heigthCtrlHandler"></param>
    /// <returns></returns>
    private async Task ExecHeightCtrlAsync(Func<int, Task> heigthCtrlHandler, bool IsHCOnOffActive = true)
    {
        if (IsBroadCastMode)
        {
            var devices = ihtDevices.GetOnDevices();
            foreach (IhtDevice device in devices)
            {
                ihtDevices.GetDataCmdExecution(device.SlaveId).IsHCOnOffActive = IsHCOnOffActive;
                await heigthCtrlHandler(device.SlaveId);
            }
        }
        else
        {
            _isHCOnOffActive = IsHCOnOffActive;
            await heigthCtrlHandler(CurrentSlaveId);
        }
    }

    /// <summary>
    /// 
    /// 
    /// </summary>
    /// <param name="paramsType"></param>
    /// <returns></returns>
    private async Task SetParamsType(string paramsType)
    {
        if (_isHCOnOffActive)
        {
            if (paramsType == IGNITION || paramsType == HEATTING)
            {
                paramsType = PRE_HEAT;
            }

            Func<int, Task>? heigthCtrlHandler = null;
            switch (paramsType)
            {
                case PRE_HEAT: heigthCtrlHandler = ihtDevices.HeightControlPreHeatingAsync; break;
                case PIERCING: heigthCtrlHandler = ihtDevices.HeightControlPiercingAsync  ; break;
                case CUTTING : heigthCtrlHandler = ihtDevices.HeightControlCuttingAsync   ; break;
                case HEATTING: heigthCtrlHandler = ihtDevices.HeightControlCuttingAsync   ; break;
                default: return;
            }

            await ExecHeightCtrlAsync(heigthCtrlHandler, IsHCOnOffActive: true);
        }

        switch (paramsType)
        {
            case IGNITION: await Task.Delay(250); await ihtDevices.SetupCtrl_SetIgnitionCommonAsync(); break;
            case PRE_HEAT: await ihtDevices.SetupCtrl_SetPreHeatingCommonAsync(); break;
            case PIERCING: await ihtDevices.SetupCtrl_SetPiercingCommonAsync(); break;
            case CUTTING: await ihtDevices.SetupCtrl_SetCuttingCommonAsync(); break;
            case HEATTING: await ihtDevices.SetupCtrl_SetHeatingCommonAsync(); break;
        }

        dynDataModificationCNCDataProvider.CurrentParamsType = paramsType;

        await dynDataModificationCNCDataProvider.RefreshDynamicDataModelToDisplayAsync();

        await InvokeAsync(StateHasChanged);
    }

    /// <summary>
    /// 
    /// </summary>
    /// <param name="deviceNum"></param>
    private async void SetDeviceNum(int deviceNum)
    {
        //TODO: implemet: not to go to error device!!!!
        var device = GetDeviceByDeviceNumber(deviceNum);

        if (deviceNum <= VisibleDevicesCount && !device.IsCommunicError)
        {
            // Stop the SP moving
            StopTorchMoving();

            // Reset the SP value to the start val
            spValueCurrent = 50;

            dynDataModificationCNCDataProvider.CurrentDeviceNumber = deviceNum;

            await dynDataModificationCNCDataProvider.RefreshDynamicDataModelToDisplayAsync();

            await InvokeAsync(StateHasChanged);
        }
    }

    /// <summary>
    /// 
    /// </summary>
    /// <param name="selectedType"></param>
    /// <returns></returns>
    private string GetParamsTypeClass(string selectedType)
    {
        if (selectedType.ToLower() == dynDataModificationCNCDataProvider.CurrentParamsType.ToLower())
            return "SelectedParamsType tabcell";
        return "UnselectedParamsType tabcell";
    }

    private IhtDevice GetDeviceByDeviceNumber(int devNumber)
    {
        var slaveId = devNumber + (int)IhtModbusCommunic.SlaveId.Id_Default;
        var device = ihtDevices.GetDevice(slaveId);
        return device;
    }

    private string GetDeviceNumClass(int selectedNum)
    {
        var cssClass = "NotInUseDeviceNum device_tabcell";

        var device = GetDeviceByDeviceNumber(selectedNum);

        if (device != null)
        {
            if(device.dataProcessInfo != null)
                device.IsTorchDisabled = device.dataProcessInfo.IsInpTorchDisabled;

            if (device.IsConnected)
            {
                if (device.IsEnabledMainControl)
                {
                    if (selectedNum == dynDataModificationCNCDataProvider.CurrentDeviceNumber)
                    {
                        cssClass = "SelectedDeviceNum device_tabcell";
                    }
                    else
                    {
                        cssClass = "ConnectedDeviceNum device_tabcell";
                    }
                }
                else
                {
                    if (selectedNum == dynDataModificationCNCDataProvider.CurrentDeviceNumber)
                    {
                        cssClass = "DisabledDeviceSelected  device_tabcell";
                    }
                    else
                    {
                        cssClass = "DisabledDeviceNum device_tabcell";
                    }
                }
            }
            else if (device.IsCommunicError)
            {
                cssClass = "ErrorConnectionDevice device_tabcell";
            }
            else if (device.IsVisible && selectedNum == dynDataModificationCNCDataProvider.CurrentDeviceNumber)
            {
                cssClass = "DisabledDeviceSelected  device_tabcell";
                device.IsEnabledOn = false;
            }

            Task.Run(() => GetDeviceCalibrationState(device));
        }

        return cssClass;
    }

    private void StopTorchMoving()
    {
        if (isTorchStartedMoving)
        {
            isTorchStartedMoving = false;

            this.APCTorchPositionStoped?.Invoke("StopTorch", EventArgs.Empty);

            ClientStartedOrStoppedWorkingWithDeviceRefreshIsNeeded?.Invoke(this, EventArgs.Empty);
        }
    }

    private void StartMovingTorch(string eventName)
    {
        if (!isTorchStartedMoving)
        {
            isTorchStartedMoving = true;

            this.APCTorchPositionChanged?.Invoke(eventName, EventArgs.Empty);

            ClientStartedOrStoppedWorkingWithDeviceRefreshIsNeeded?.Invoke(this, EventArgs.Empty);
        }
    }

    private void UpdateDynParam(ParameterDataModel parameterData)
    {
        OnParamChanged(parameterData);
    }

    private async void DynamicAPCParamsOnDynamicAPCParamsDataChanged(object? sender, EventArgs e)
    {
        try
        {
            await GetSetupParametersAsync(refreshAll: true);

            await InvokeAsync(StateHasChanged);
        }
        catch { };
    }

    private async void DynamicAPCParamsOnConnectedTorchesInstalled(object? sender, EventArgs e)
    {
        await dynDataModificationCNCDataProvider.RefreshDynamicDataModelToDisplayAsync();
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        dynDataModificationCNCDataProvider.DynamicAPCParamsDataChanged -= DynamicAPCParamsOnDynamicAPCParamsDataChanged;
        this.DynamicAPCParamsClientChanged -= dynDataModificationCNCDataProvider.dynamicParamsDysplay_DynamicAPCParamsClientChanged;
        this.DynamicAPCParamsClientChangedCommon -= dynDataModificationCNCDataProvider.dynamicParamsDysplay_DynamicAPCParamsClientChangedCommon;

        this.APCTorchPositionChanged -= dynDataModificationCNCDataProvider.dynamicParamsDysplay_APCTorchPositionChanged;
        this.APCTorchPositionStoped -= dynDataModificationCNCDataProvider.dynamicParamsDysplay_APCTorchPositionStoped;

        _ = TurnFlameOffAsync();

        if(_isHCOnOffActive)
        { 
            _ = TurnHCOffAsync();
        }

        // Stop the SP moving and refresh component for all the users
        _ = dynDataModificationCNCDataProvider.StopMovingTorchAsync();
        ClientStartedOrStoppedWorkingWithDeviceRefreshIsNeeded?.Invoke(this, EventArgs.Empty);

        ClientStartedOrStoppedWorkingWithDeviceRefreshIsNeeded -= DynamicAPCParamsOnDynamicAPCParamsDataChanged;

        ConnectedTorchesInstalledClientReceivedDataRefreshIsNeeded -= DynamicAPCParamsOnConnectedTorchesInstalled;
    }

    private void ParamSelected1(ChangeEventArgs args)
    {
        //dynDataModificationCNCDataProvider._paramHeatO2.DynParams.Value = args.Value;
        //OnParamChanged();
    }

    private void OnParamChanged(object eventParam)
    {
        if (IsBroadCastMode)
        {
            DynamicAPCParamsClientChangedCommon?.Invoke(eventParam, EventArgs.Empty);
        }
        else
        {
            DynamicAPCParamsClientChanged?.Invoke(eventParam, EventArgs.Empty);
        }
        
    }

}